
.card, .card-index {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: #FE4A49;
  position: relative;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: white;
}


.card-index {
  height: 250px;

}


.card-wrapper {
  background: #E6E6EA;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
}
.card-mood {
  position: absolute;
  left: 5px;
  bottom: 5px;
}
.card-name {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 10px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 13px;
  }
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card:hover, .card-index:hover{
  opacity: 0.8;
  transition: all 300ms ease-in-out;
  transform: scale(1.05);
}

.card-avatar {
  position: absolute;
  top: 10px;
  right: 10px;
}
