.dash-reservations {
  padding: 30px;
  margin-bottom: 20px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  background-color: white;
  border-radius: 2px;
}


.resa-picture-event {
  height: 150px;
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
}

.resa-dash-statut {
  margin-right: 50px;
  padding-right: 10px;
}

.container-informations {
  margin-top:15px;
}

