.visible-xs {
  text-align: center;
}

.tabs {
  background: #f4f4f4;
  border-color: $gray; // TODO
  display: flex;
  padding: 10px 0px 0px 0px;
  display: flex;
  h3 {
    font-size: 17px;
    font-weight: bold;
    margin-top: 0;
  }
  a {
    color: white;
  }
  a:hover {
    cursor: pointer;
    text-decoration: none;
    opacity: 0.8;
  }
}

.tab {
  background: $bise-red; // TODO
  flex: 0 0 25%;
  text-align: center;
  padding: 20px 0;
  flex-grow: 1;
  &:first-child {
    border-radius: 10px 0 0 0;
  }
  &:last-child {
    border-radius: 0 10px 0 0;
  }
  &.active {
    background: $body-bg; // TODO
    border-top: solid 1px $bise-red;
    border-left: solid 1px $bise-red;

    color: $bise-red;
  }
}

.confirmed {
  color: $gray;
}

.pending {
  color: $bise-yellow;
}

.canceled {
  color: $bise-red;
}

.refused {
  color: $bise-purple;
}
// ---

.reservation-fontawesome {
  font-size: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  p{
    margin: 10px 5px 10px;
    font-size: 20px;
  }
}

.wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}

.wrapper-dashboard {
  background-color: $body-bg; // TODO
  border-left: solid 1px $bise-red;
  border-right: solid 1px $bise-red;
  margin-left: -15px;
  margin-right: -15px;
}

.wrapper-tabs {
  //background-color: red;
}

.event {
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 5px #222;
  padding-bottom: 15px;
  i, h2, p {
    color: #FFF;
  }
}

.gray-bg {
  background-color: red;
}

.container-informations p,i,h4{
  color: $gray;
}

@media (max-width: 767px) {
  .mob-cond {
    border-radius: 10px 0 0 0;
  }
}

.button {
  margin-right: 20px;
}

.user_pic {
  height: 20px;
  width: 20px;
}
