.visible-xs {
  text-align: center;
}

.tabs {
  background: white;
  border-color: $bise-blue;
  display: flex;
  padding: 10px 10px 0 10px;
  display: flex;
  h3 {
    font-size: 17px;
    font-weight: bold;
    margin-top: 0;
  }
  a {
    color: white;
  }
  a:hover {
    cursor: pointer;
    text-decoration: none;
    opacity: 0.8;
  }
}

.tab {
  background: $bise-blue;
  flex: 0 0 25%;
  text-align: center;
  padding: 20px 0;
  flex-grow: 1;
  &:first-child {
    border-radius: 10px 0 0 0;
  }
  &:last-child {
    border-radius: 0 10px 0 0;
  }
  &.active {
    background: $bise-yellow;
    color: white;
  }
}

.picture-event {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  box-shadow: 0 0 10px #222;

}

.confirmed {
  color: $bise-blue;
}

.pending {
  color: $bise-yellow;
}

.canceled {
  color: $bise-red;
}

.refused {
  color: $bise-purple;
}

@media (max-width: 767px) {
  .mob-cond {
    border-radius: 10px 0 0 0;
  }
}
