.head_picture {
  width: 100%;
  height: 320px;
  background-size: cover !important;
  background-position: center center;
  border-radius: 2px;
}

.host_card {
  padding: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  background-color: white;
  border-radius: 2px;
  color:black;
  width: 100%;
}

.avatar-event-user img{
  width: 85px;
  height: 85px;
}

.event-mini-card{
  padding: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  background-color: white;
  border-radius: 2px;
}

.user-message i {
  font-size: 70px;
  color: $bise-red;
}

.event-tag {
  padding: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  background-color: white;
  border-radius: 2px;
  border: 2px solid;
  border-color: $bise-red;
}

.description-card{
  padding: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  background-color: white;
  border-radius: 2px;
}

.cancel-link {
  color: $bise-red;
}

.event-description {
  i{
    color: $bise-red;
  }
}

.review-card {
  margin: 25px;
  .review-owner {
    color: $bise-red;
  }
  .review-rating {
    text-align: right;
  }
  .review-date {
    color: $gray-light;
    font-size: 0.8em;
  }
}

.event-datepicker {
  width: 50%;
}
.review-title {
  margin-bottom: 40px
}
