.head_picture {
  background-image: url('http://il5.picdn.net/shutterstock/videos/8742685/thumb/1.jpg');
  height: 40vh;
  background-size: cover;
  color: white;
}
.host_card {
  width: 100%;
  background-color: #FEFEFE;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  padding: 15px 30px 15px 15px;
  .media-right {
    font-size: 3em;
  }
}
.priceandplaces {
  margin: 20px 0;
}
.price {
  font-size: 1.3em;
}
.options {
  margin: 20px;
  text-align: center;
}
.event-description {
  background-color: $gray-lighter;
  padding: 15px;
  .cancel {
    color: $red;
  }
}
.review-card {
  margin: 25px;
  .review-owner {
    color: $bise-red;
  }
  .review-rating {
    text-align: right;
  }
  .review-date {
    color: $gray-light;
    font-size: 0.8em;
  }
}
.event-datepicker {
  width: 50%;
}
