.button-event {
  width: 250px;
  display: flex;
  justify-content: space-around;
  i {
    color: $bise-red;
    font-size: 40px;
  }
  p {
    color: $gray-light;
  }
}

.user-pic {
  height: 50px;
  width: 65px;
  border-radius: 50%;
  margin-right: 10px;
}

.dashboard-event-user {
  display: flex;
  align-items :center;
  justify-content: space-between;
  margin-right: 15px;
}

.event-description {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.event-informations {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.event-description-button {
  display: flex;
  align-items: center;
}

.reservation-user-informations {
  //width: 75%;
}

.reservation-statuts, .dashboard-events-buttons {
  width: 50%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  p {
    color: $gray-light;
  }
}

.picture-event {
  height: 150px;
  border-radius: 5px;
  box-shadow: 0 0 10px #222;
  background-size: cover;

}

.picture-event-show {
  height: 300px;
  width:100%;
  background-size: cover;
  border-radius: 2px;
}
.hr-div {
  width: 50%;
  margin: auto;
}
.bise-red-color {
  color: $bise-red;
}
