// Avant
.events-index {
  padding-top: 70px;

  .cards-container {
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    height: 100vh;

    h1 {
      text-transform: uppercase;
      font-size: 2.3rem;
      font-weight: 600;
      padding: 0 20px;
      color: $bise-red;
    }

    .card {
      margin: 1%;
      width: 48%;
      overflow: hidden;
    }
  }
}

// Apres
//
.events_index {
  height: 100%;
  body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: stretch;
  }

  h1 {
    color: $bise-red;
  }

  .navbar-wagon {
    flex: 1 0 auto;
  }

  .event-list-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }

  .event-list {
    width: 50%;
    overflow-y: scroll;
    margin-left: 20px;
    margin-right: 20px;
  }
  .map-wrapper {
    width: 50%;
  }

}


