.head_picture {
  background-image: url('http://il5.picdn.net/shutterstock/videos/8742685/thumb/1.jpg');
  height: 40vh;
  background-size: cover;
  color: white;
}
.host_card {
  width: 100%;
  background-color: #FEFEFE;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  padding: 15px 30px 15px 15px;
  .media-right {
    font-size: 3em;
  }
}
.price {
  font-size: 1.3em;
}
.options {
  background-color: #CC00FF;
}
.event-description {
  background-color: #FFCC00;
}
.review-card {
  margin: 25px;
  .review-rating {
    text-align: right;
  }
  .review-date {
    color: $gray-light;
    font-size: 0.8em;
  }
}


.put_spaces {
  padding: 20px;
}


.top-space {
  margin-top: 60px;
}
