/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-show{
  color: white;
  text-align: center;
  height: 400px;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

.wrapper-title {
  padding: 50px;

}

.wrapper-title h1 {
  color: #FE4A49;

}

.card, .card-index {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: #FED766;
  position: relative;
  margin-bottom: 30px;
  border-radius: 5px;
}


.card-index {
  height: 250px;

}


.card-wrapper {
  background: #E6E6EA;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
}
.card-user {
  position: absolute;
  left: 5px;
  top: 50px;
}
.card-category {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 10px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 13px;
  }
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card:hover, .card-index:hover{
  opacity: 0.8;
  transition: all 300ms ease-in-out;
  transform: scale(1.05);
}

.card-avatar {
  position: absolute;
  top: 10px;
  right: 10px;
}

.round-point {
  margin: 40px 40px;
  border-radius: 5px;
  background-color: pink;
  height: 175px;
}

.rules-banner {
  background-color: #F2F2F2 ;
}
