.head_picture {
  background-image: url('http://il5.picdn.net/shutterstock/videos/8742685/thumb/1.jpg');
  height: 40vh;
  background-size: cover;
  color: white;
}

.event-description h4 {
  text-align: center;
}
.owner_card {
  width: 100%;
  background-color: #FEFEFE;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.put_spaces {
  padding: 20px;
}
