<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <h4 class="footer-titles">La Bise</h4>
        <ul>
          <li class="no-decoration-list"><a href="#">Qui sommes-nous ?</a></li>
          <li class="no-decoration-list"><a href="#">Contactez-nous !</a></li>
          <li class="no-decoration-list"><a href="#">Partenaires</a></li>
          <li class="no-decoration-list"><a href="#">Presse</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h4 class="footer-titles">Help!</h4>
        <ul>
          <li class="no-decoration-list"><a href="#">FAQ</a></li>
          <li class="no-decoration-list"><a href="#">Mode d'emploi</a></li>
          <li class="no-decoration-list"><a href="#">CGU | CGV | Crédits</a></li>
          <li class="no-decoration-list"><a href="#">Sécurité</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h4><i class="fa fa-quote-right footer-titles" aria-hidden="true"></i></h4>
        <p><em>Nous sommes une bande de développeurs qui aimons faire de nouvelles rencontres : nous avons conçu La Bise afin que chacun puisse organiser sa soirée et se découvrir de nouveaux amis.</em></p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 social-networks">
        <div class="text-center" >
          <ul class="list-inline">
            <li>
              <a class="social-icon" href="#">
                <i class="fa fa-youtube"></i>
              </a>
            </li>
            <li>
              <a class="social-icon" href="#">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
            <li>
              <a class="social-icon" href="#">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a class="social-icon" href="#">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
          </ul>
          <p>La Bise, <%= Date.today.strftime('%Y') %> &copy;</p>
        </div>
      </div>
    </div>
  </div>
</div>
