<h1>Events#index</h1>


<div class="container">
  <div class="row">
    <% @events.each do |event| %>
    <div class="col-xs-12 col-md-6">
      <%= link_to event.name, event_path(event) %>
    </div>
    <% end %>
  </div>
</div>
