<div class="banner" style="background-image: linear-gradient(-225deg, rgba(255,238,238,0.3) 0%, rgba(221,239,187,0.2) 50%), url('http://604now.com/wp-content/uploads/2014/11/10-Appy-Or-Happy-Hour-Deals-You-Need-to-Know-About.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="banner-content">
          <h1 class="text-center">
            La Bise
          </h1>
          <h3 class="text-center">
            Share real moment at home with amazing people like you
          </h3>
          <h1 class="text-center">
          <%= render 'datepicker' %>
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="rules-banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="round-point text-center">
          <p>
            #1
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="round-point text-center">
          <p>
            #2
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="round-point text-center">
          <p>
            #3
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-title">
  <h1 class="text-center"> Check it out !</h1>
</div>

<div class="card-wrapper">
  <%= render 'listevents' %>
</div>
