<div class="container">
  <div class="row">
    <div class="hidden-xs col-sm-4">
      <div class="card" style="background-image: url('https://unsplash.it/200')">
      <h2>Name of my event</h2>
      </div>
    </div>
    <div class="reservation-informations">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="infos">
          Places restantes
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="infos">
          Nombre de places à réserver
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="infos">
          Prix par personne
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="infos">
          Date and hour
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="infos">
          Places restantes
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="">
        Description : Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae totam suscipit rerum magnam ut, possimus facilis eum, non, iure, accusamus at. Minima a enim consequatur accusantium eum maiores dolorum sunt.
      </div>
    </div>

  </div>
  <%= link_to "Book it!", root_path, class: "btn btn-warning btn-block" %>
</div>
