#form-event-new {
  padding: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  background-color: white;

  h1 {
    margin-bottom: 35px;
    text-transform: uppercase;
    font-size: 2.3rem;
    font-weight: 600;
  }

  h2 {
    color: $bise-red;
  }

  ul {
    list-style:none;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;

    li {
      img {
        margin: 10px 10px;
        width: 105px;
        height: 105px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.2);
      }

      a {
        top: 150px;
        left: 235px;
      }
    }
  }

  .attachinary-input {
    height: 0px;
    overflow: hidden;
  }

  .btn-upload {
    top: -12px;
    position: relative;
    outline: none;
    box-shadow: none;
    border: none;
    color: #fff;
    background-color: $yellow;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.4;
    border-radius: 2px;
  }

  abbr {
    display: none;
  }

  .btn {
    height: 50px;
    line-height: 38px;
  }

  .description {
    resize: none;
  }

  i {
    font-size: 30px;
    color: white;
    vertical-align: sub;
  }
}
