/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  z-index: 2000;
}
.alert-info {
  background: $green;
  border-color: none !important;
}
.alert-warning {
  background: $red;
}
