#bottom-btn {
  position: fixed;
  z-index: 1;
  bottom: 1em;
  width: 92%;
  font-size: 1.8em;
  font-weight: bold;
  background-color: $bise-red;
  border: 0;
}

.bottom-space {
  margin-bottom: 75px;
}
