.recap-content {
  top: 0px;
  background-color: #CC0000;
  height: 100vh;
  position: fixed;
}
#recap {
  text-align: center;
  margin-top: 80px;
  .info {
  background-color: white;
  margin: 9px 0px;
  padding: 5px 10px ;
  }
}
