#float-search {
  background-color: #CCFF00;
  padding: 20px;
  position: fixed;
  z-index: 1;
  top: 25%;
  right: 10px;
  border-radius: 5px;
  .info {
  background-color: #FEFEFE;
  margin: 5px 0px;
  padding: 5px 5px ;
  }
}
